{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>Managers</h2>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Department</th>
                    <th>Manager</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
    {% for manager in deptmanager_list %}
            <tbody>
                <tr>
                    <td><a href = "{% url 'management:deptmanager_detail' pk=manager.pk %}">{{manager.dept_no}}</a></td>
                    <td>{{manager.emp_no}}</td>
                    <td>{{manager.from_date}}</td>
                    <td>{{manager.to_date}}</td>

                </tr>
            </tbody>

    {% endfor%}
        </table>
</div>

{% endblock content %}