{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>Products</h2>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
    {% for product in product_list %}
            <tbody>
                <tr>
                    <td><a href = "{% url 'products:product_detail' pk=product.pk %}">{{product.name}}</a></td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                </tr>
            </tbody>

    {% endfor%}
        </table>
</div>

{% endblock content %}